<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebApp</title>
    <script src ="http://localhost/jquery.js"></script><!--src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.<min class="js"></min>" -->
</head>
<body>
<h3 id="userID">user: {{istID}}</h3>
<!---<button id="loginBtn" onclick="login()">Logout?</button>-->
<div id="loggedPage">
</div>

<script>
renderPage()
function sendMsg(){
	var message = $("#textMsg").val()
	if(message != ""){
        $.ajax({
            type: "POST",
            url: "/API/users/{{istID}}/message",
            datatype: "json",
            contentType: "application/json",
            data: JSON.stringify({ 'message':message,'lat':0,'lon':0 }),
            success: function (data) {
            	console.log("On sending message:", data)
                $("#textMsg").val('')
            }

        })
    }
}
function renderPage(){
	$("#loggedPage").append("<textarea readonly id='receivedMsgs'></textarea><br>")
	$("#loggedPage").append("<textarea id='textMsg' placeholder='Send message ...'></textarea><br>")
	$("#loggedPage").append("<button id='send' onclick='sendMsg()'>Send</button><br>")
    $("#loggedPage").append("<input id='lat', placeholder='lat'/>")
    $("#loggedPage").append("<input id='lon', placeholder='lon'/>")
    //$("#loggedPage").append("<button onclick='location()'>Send</button><br>")
}

(function getMessages() {
  $.ajax({
    type: "POST",
    url: 'API/users/{{istID}}/message/received', 
    success: function(data) {
        console.log(data)
        $("#receivedMsgs").val(data)//data["message"])
    },
    complete: function() {
        // Schedule the next request when the current one's complete
        setTimeout(getMessages, 1000);
    }
  });
})();

    if (navigator.geolocation) {
        navigator.geolocation.watchPosition(showPosition);
    } else {
        alert("Geolocation is not supported by this browser.")
    }

    function showPosition(position) {
        $('#lat').val(position.coords.latitude)
        $('#lon').val(position.coords.longitude)
        $.ajax({
            type: "POST",
            url: 'API/users/{{istID}}/message/received', 
            success: function(data) {
                console.log(data)
                $("#receivedMsgs").val(data)//data["message"])
            },
            complete: function() {
                // Schedule the next request when the current one's complete
                setTimeout(getMessages, 1000);
            }
        });
    }

</script>

</body>
</html>
