<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebApp</title>
    <script src ="/static/jquery.js"></script>
</head>
<body>
<h3 id="userID">user: {{istID}}</h3>
<!---<button id="loginBtn" onclick="login()">Logout?</button>-->
<div id="loggedPage">
</div>

<script>
    renderPage()
    var pos, numberMessages = 0, posFixed = 0
    function sendMsg(){
    	var message = $("#textMsg").val()
    	if(message != ""){
            $.ajax({
                type: "POST",
                url: "/API/users/{{istID}}/message",
                datatype: "json",
                contentType: "application/json",
                data: JSON.stringify({ 'message':message,'location':pos}),
                success: function (data) {
                    console.log("On sending message:", data)
                    $("#textMsg").val('')
                }
            })
        }
    } 

    function renderPage(){
        $("#loggedPage").append("<button onclick='logout()'>Logout</button><br><br>")
        $("#loggedPage").append("Current location: ")
        $("#loggedPage").append("<input id='lat' placeholder='lat' value='{{lat}}'/>")
        $("#loggedPage").append("<input id='lon' placeholder='lon' value='{{lon}}'/>")
        $("#loggedPage").append("<button id='changeLoc' onclick='updateLoc()'>Force Location</button><br><br>")
        $("#loggedPage").append("Current range: ")
        $("#loggedPage").append("<input id='range' value='{{range}}' />")
        $("#loggedPage").append("<button id='changeRange' onclick='updateRange()'>Update Range</button><br><br>")
        $("#loggedPage").append("Users in range and in building:<br><br>")
        $("#loggedPage").append("<textarea readonly id='inRange' rows=10 cols=60></textarea><br>")
        //$("#loggedPage").append("<button id='getUsers' onclick='getUsersInRangeAndInBuilding()'>Check who is nearby</button><br><br>")
        $("#loggedPage").append("Received Messages:<br><br>")
    	$("#loggedPage").append("<textarea readonly id='receivedMsgs' rows=15 cols=60></textarea><br>")
    	$("#loggedPage").append("<textarea id='textMsg' rows=4 cols=60 placeholder='Send message ...'></textarea><br>")
    	$("#loggedPage").append("<button id='send' onclick='sendMsg()'>Send</button>")
    }

    function logout(){
        $.ajax({
        type: "POST",
        url: '/logout',
        success:(data)=>{
            window.location.href="/login"//https://id.tecnico.ulisboa.pt/cas/logout"
        }
      });
    }

    (function getMessages() {
      $.ajax({
        type: "POST",
        url: '/API/users/{{istID}}/message/received',
        data: JSON.stringify({'number':numberMessages}),
        contentType: "application/json",
        success:function(data) {
            console.log('ok '+data.length+' messages ('+numberMessages+')')
            numberMessages += data.length
            if(data.length > 0)
                data.forEach(function(e){e.pop();console.log(e)})
                $("#receivedMsgs").append(data.join('\n'))//data["message"])
            setTimeout(getMessages, 1000);
        }
      });
    })();

    if (navigator.geolocation) {
        navigator.geolocation.watchPosition(showPosition)
    } else {
        alert("Geolocation is not supported by this browser.")
    }

    function showPosition(position) {
        if(posFixed == 0){
            console.log('User position has changed')
            if (pos != {'lat': position.coords.latitude , 'lon': position.coords.longitude} && position.coords.latitude != null && position.position.coords.longitude != null){
                pos = {'lat': position.coords.latitude , 'lon': position.coords.longitude}
                $.ajax({
                    type: "POST",
                    url: '/API/users/{{istID}}/location',
                    datatype: "json",
                    contentType: "application/json",
                    data: JSON.stringify(pos),
                    success: function(data) {
                        $('#lat').val(Math.round(position.coords.latitude * 1000) / 1000)
                        $('#lon').val(Math.round(position.coords.longitude * 1000) / 1000)
                    },
                    complete: function() {
                        console.log('position send')
                    }
                }); 
            }
        }else{
            if($('#lat').val() != null && $('#lon').val() != null){
                pos = {'lat': $('#lat').val() , 'lon': $('#lon').val()}

                $.ajax({
                    type: "POST",
                    url: '/API/users/{{istID}}/location',
                    datatype: "json",
                    contentType: "application/json",
                    data: JSON.stringify(pos),
                    success: function(data) {
                        console.log('Position set')
                    }
                }); 
            }
        }         
    }

    (function getUsersInRangeAndInBuilding(){
        $.ajax({
            type: "POST",
            url: '/API/users/{{istID}}/range',
            success: function(data) {
                console.log(data)
                $("#inRange").val(data['users'])
            },
            complete: function() {
                // Schedule the next request when the current one's complete
                setTimeout(getUsersInRangeAndInBuilding, 5000);
            }
        });
    })();

    function updateRange() {
        $.ajax({
            type: "POST",
            url: '/API/users/{{istID}}/range/' + $('#range').val(),
            success: function(data) {
                console.log('Range updated')
            }
        });
    }

    function updateLoc() {

        loc = document.getElementById("changeLoc")

        if(posFixed == 0){
            posFixed = 1
            loc.innnerText = "Get Current Location";
        }else{
            posFixed = 0
            loc.innnerText = "Force Location";
        }
    }

</script>

</body>
</html>
